@import "../../styles/colors.scss";

.nav-bar {
    display: flex;
    align-items: center;
    height: 60px;
    background: $tertiary;
    padding:0 40px;
    .links {
        a {
            margin-right: 40px;
            color: $white;
            text-decoration: none;
            &:hover {
                text-decoration: underline;
            }
            &.active {
                text-decoration: underline;
            }
        }
    }
}